@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css?family=Marmelad');

.App {

  font-family: 'Lato', sans-serif;
  color: black;
  background-color: #F9F8F8;
}

.navbar-logo {
  font-family: 'Marmelad', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow:
    -1px -1px 0 #FFF,
    1px -1px 0 #FFF,
    -1px 1px 0 #FFF,
    1px 1px 0 #FFF;
}

.restaurant-form {
  width: 50%;
  margin: auto;
  border: 1px solid #D3D3D3;
  margin-top: 35px;
  padding: 25px;
  font-size: 0.9em;
  background-color: white;
}

.show {
  width: 600px;
  margin: auto;
  border: 1px solid #D3D3D3;
  margin-top: 35px;
  background-color: white;
}

.restaurant-header {
  border-bottom: 1px solid black;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.restaurant-body {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-bottom: 20px;
}

.show img {
  padding-top: 20px;
  padding-bottom: 20px;
}

.bottom-border {
  border-bottom: 1px solid black;
}

.comments {
  margin-top: 20px;
}

.comment-form {
  margin-top: 20px;
}
