@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css?family=Marmelad');

.App {
  font-family: 'Lato', sans-serif;
  color: black;
  background-color: #F9F8F8;
}

/* ----- HOME PAGE ----- */
.home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(components/brunch2.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.welcome {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.welcome h2 {
  color: #D6D6D6;
  margin-bottom: 25px;
  text-align: center;
}

.text-box {
  border: 1px solid black;
  border-radius: 5px;
  background-color: #D6D6D6;
  padding: 10px 15px;
  margin-right: 10px;
}


.navbar-logo {
  font-family: 'Marmelad', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow:
    -1px -1px 0 #FFF,
    1px -1px 0 #FFF,
    -1px 1px 0 #FFF,
    1px 1px 0 #FFF;
}

.restaurant-form {
  width: 50%;
  margin: auto;
  border: 1px solid #D3D3D3;
  margin-top: 35px;
  padding: 25px;
  font-size: 0.9em;
  background-color: white;
}

.show {
  min-width: 600px;
  margin: auto;
  border: 1px solid #D3D3D3;
  margin-top: 35px;
  background-color: white;
}

.restaurant-header {
  border-bottom: 1px solid black;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.restaurant-body {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-bottom: 20px;
}

.show img {
  padding-top: 20px;
  padding-bottom: 20px;
}

.bottom-border {
  border-bottom: 1px solid black;
}

.comments {
  margin-top: 20px;
}

.comment-form {
  margin-top: 20px;
}

.btn-md {
  display: inline;
}

.recipes {
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  width: 70%;
  background-color: white;
  border: 1px solid #D3D3D3;
  font-size: 0.9em;
}

.recipes img {
  padding-top: 5px;
  padding-bottom: 15px;
}

.recipes li {
  border-bottom: 1px dotted #D3D3D3;
}
